html {
  font-size: 18px; /* px means "pixels": the base font size is now 18 pixels high  */
  font-family: "Festive", cursive; /* this should be the rest of the output you got from Google fonts */
}
h1 {
  font-size: 75px;
  text-align: center;
}

p, li {
  font-size: 20px;
  line-height: 3;
  letter-spacing: 2px;
  color: yellow;
}
html {
  background-color: #3FBF3F;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #ff0000;
  padding: 0 20px 20px 20px;
  border: 10px solid purple;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #829f00;
  text-shadow: 5px 5px 2px black;
}
img {
  display: block;
  margin: 0 auto;
}
span{
  text-decoration: underline;
}
h3{
  font-size: 50px;
  color: blue;
}
video{
  display: block;
  margin: 0 auto;
}


